/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

input.ng-touched.ng-invalid {
  border: 2px solid red;
}

.error {
  margin-top: 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 1.2rem;
  background: #ea080840;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #25b7ce;
  background-color: #fff;
  /* background-clip: padding-box; */
  border: 1px solid #ced4da;
  border-radius: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.form-control:focus {
  border-radius: 0.5rem;
}

@media screen and (max-width: 500px) {
 /* .app{
  background: #bdc3c7;  
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
  background: linear-gradient(to right, #2c3e50, #bdc3c7); 
  
 } */
  td {
    font-size: .9rem !important;
    padding: 0.3rem !important;
    vertical-align: middle !important;
}

th {
    font-size: 1rem !important;
    font-weight: 400;
    padding: 0.3rem !important;

}
}
